<a href="https://colab.research.google.com/github/AnsharShampoo/Data_Science_Notebook/blob/linear_regression_collab/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression Implementation

## Packages

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Dataset

In [7]:
initial_data_frame = pd.read_csv(r'/bottle.csv')
print(initial_data_frame.head())
print(initial_data_frame.info())

<ipython-input-7-8610153bb28f>:1: DtypeWarning: Columns (47,73) have mixed types. Specify dtype option on import or set low_memory=False.
  initial_data_frame = pd.read_csv(r'/bottle.csv')

   Cst_Cnt  Btl_Cnt       Sta_ID                                Depth_ID  \
0        1        1  054.0 056.0  19-4903CR-HY-060-0930-05400560-0000A-3
1        1        2  054.0 056.0  19-4903CR-HY-060-0930-05400560-0008A-3
2        1        3  054.0 056.0  19-4903CR-HY-060-0930-05400560-0010A-7
3        1        4  054.0 056.0  19-4903CR-HY-060-0930-05400560-0019A-3
4        1        5  054.0 056.0  19-4903CR-HY-060-0930-05400560-0020A-7

   Depthm  T_degC  Salnty  O2ml_L  STheta  O2Sat  ...  R_PHAEO  R_PRES  \
0       0   10.50  33.440     NaN  25.649    NaN  ...      NaN       0
1       8   10.46  33.440     NaN  25.656    NaN  ...      NaN       8
2      10   10.46  33.437     NaN  25.654    NaN  ...      NaN      10
3      19   10.45  33.420     NaN  25.643    NaN  ...      NaN      19
4      20   10.45  33.421     NaN  25.643    NaN  ...      NaN      20

   R_SAMP  DIC1  DIC2  TA1  TA2  pH2  pH1  DIC Quality Comment
0     NaN   NaN   NaN  NaN  NaN  NaN  NaN                  NaN
1     NaN   NaN   NaN  NaN  NaN  NaN  NaN                  NaN
2     NaN   NaN   NaN  NaN  NaN  NaN  NaN                  NaN
3     NaN   NaN   NaN  NaN  NaN  NaN  NaN                  NaN
4     NaN   NaN   NaN  NaN  NaN  NaN  NaN                  NaN

[5 rows x 74 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 74 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cst_Cnt              864863 non-null  int64
 1   Btl_Cnt              864863 non-null  int64
 2   Sta_ID               864863 non-null  object
 3   Depth_ID             864863 non-null  object
 4   Depthm               864863 non-null  int64
 5   T_degC               853900 non-null  float64
 6   Salnty               817509 non-null  float64
 7   O2ml_L               696201 non-null  float64
 8   STheta               812174 non-null  float64
 9   O2Sat                661274 non-null  float64
 10  Oxy_Âµmol/Kg          661268 non-null  float64
 11  BtlNum               118667 non-null  float64
 12  RecInd               864863 non-null  int64
 13  T_prec               853900 non-null  float64
 14  T_qual               23127 non-null   float64
 15  S_prec               817509 non-null  float64
 16  S_qual               74914 non-null   float64
 17  P_qual               673755 non-null  float64
 18  O_qual               184676 non-null  float64
 19  SThtaq               65823 non-null   float64
 20  O2Satq               217797 non-null  float64
 21  ChlorA               225272 non-null  float64
 22  Chlqua               639166 non-null  float64
 23  Phaeop               225271 non-null  float64
 24  Phaqua               639170 non-null  float64
 25  PO4uM                413317 non-null  float64
 26  PO4q                 451786 non-null  float64
 27  SiO3uM               354091 non-null  float64
 28  SiO3qu               510866 non-null  float64
 29  NO2uM                337576 non-null  float64
 30  NO2q                 529474 non-null  float64
 31  NO3uM                337403 non-null  float64
 32  NO3q                 529933 non-null  float64
 33  NH3uM                64962 non-null   float64
 34  NH3q                 808299 non-null  float64
 35  C14As1               14432 non-null   float64
 36  C14A1p               12760 non-null   float64
 37  C14A1q               848605 non-null  float64
 38  C14As2               14414 non-null   float64
 39  C14A2p               12742 non-null   float64
 40  C14A2q               848623 non-null  float64
 41  DarkAs               22649 non-null   float64
 42  DarkAp               20457 non-null   float64
 43  DarkAq               840440 non-null  float64
 44  MeanAs               22650 non-null   float64
 45  MeanAp               20457 non-null   float64
 46  MeanAq               840439 non-null  float64
 47  IncTim               14437 non-null   object
 48  LightP               18651 non-null   float64
 49  R_Depth              864863 non-null  float64
 50  R_TEMP               853900 non-null  float64
 51  R_POTEMP             818816 non-null  float64
 52  R_SALINITY           817509 non-null  float64
 53  R_SIGMA              812007 non-null  float64
 54  R_SVA                812092 non-null  float64
 55  R_DYNHT              818206 non-null  float64
 56  R_O2                 696201 non-null  float64
 57  R_O2Sat              666448 non-null  float64
 58  R_SIO3               354099 non-null  float64
 59  R_PO4                413325 non-null  float64
 60  R_NO3                337411 non-null  float64
 61  R_NO2                337584 non-null  float64
 62  R_NH4                64982 non-null   float64
 63  R_CHLA               225276 non-null  float64
 64  R_PHAEO              225275 non-null  float64
 65  R_PRES               864863 non-null  int64
 66  R_SAMP               122006 non-null  float64
 67  DIC1                 1999 non-null    float64
 68  DIC2                 224 non-null     float64
 69  TA1                  2084 non-null    float64
 70  TA2                  234 non-null     float64
 71  pH2                  10 non-null      float64
 72  pH1                  84 non-null      float64
 73  DIC Quality Comment  55 non-null      object
dtypes: float64(65), int64(5), object(4)
memory usage: 488.3+ MB
None

In [19]:
data_frame = initial_data_frame[["T_degC","Salnty"]]
print(data_frame.head())
print(data_frame.info())
clean_df = data_frame.dropna()
print(clean_df.info())

   T_degC  Salnty
0   10.50  33.440
1   10.46  33.440
2   10.46  33.437
3   10.45  33.420
4   10.45  33.421
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   T_degC  853900 non-null  float64
 1   Salnty  817509 non-null  float64
dtypes: float64(2)
memory usage: 13.2 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 814247 entries, 0 to 864862
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   T_degC  814247 non-null  float64
 1   Salnty  814247 non-null  float64
dtypes: float64(2)
memory usage: 18.6 MB
None